body{
    margin: 0;
    padding: 0;
    background:lightblue;
}

#nav {
    list-style-type: none;
    width: 90%;
    display: table;
    margin-top: 0;
    margin-left: -40;
    position: fixed;
    left:5%;
    margin-bottom:7%;
    height:7%;
}

#nav li {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height:300%;
}

#nav a {
    width: 16.7%;
    display: inline-block;
    background: grey;
    height: 100%;
    display: table-cell;
    color: white;
    font-size: 16;
}

#nav a:hover {
    background-color: darkgrey;
}

#content{
    margin:auto;
    width:90%;
    height:93%;
    margin-top:7%;
    background:white;
}
