body{
    margin: 0;
    padding: 0;
    background:aqua;
}

#nav {
    list-style-type: none;
    width: 90%;
    display: table;
    margin-top: 0;
    margin-left: -40;
    position: fixed;
    left:5%;
    margin-bottom:7%;
    height:7%;
}

#nav li {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height:300%;
}

#nav a {
    width: 16.7%;
    display: inline-block;
    background: grey;
    height: 100%;
    display: table-cell;
    color: white;
    font-size: 16;
}

#nav a:hover {
    background-color: darkgray;
}

#timeline{
    margin: auto;
    display: block;
    width: 90%;
    background: padding: 0;
    border-collapse: collapse;
    height: 100%;
    line-height: 2em;
    background:white;
    padding-top:4%;
}

#timeline tr{
    width:100%;
    height:100%;
}

#timeline tr td{
    height:100%;
    border:1px solid black;
}
