body{
    margin: 0;
    padding: 0;
    background:aqua;
}

#nav {
    list-style-type: none;
    width: 90%;
    display: table;
    margin-top: 0;
    margin-left: -40;
    position: fixed;
    left: 71;
    margin-bottom:7%;
}

#nav li {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height: 300%;
}

#nav a {
    width: 16.7%;
    display: inline-block;
    background: grey;
    height: 100%;
    display: table-cell;
    color: white;
    font-size: 16;
}

#nav a:hover {
    background-color: darkgray;
}

#timeline{
    width:90%;
    margin:0 auto;
    border-collapse: collapse;
    background:white;
    border:1px solid black;
}