*{
	font-family:Verdana;
}
body{
	background-color:#5C7EBD;
}

ul{
	list-style-position:inside;
	text-align:center;
}

.copyright{
	font-size:75%;
	font-style:italic;
}

a{
	color:#694A9F;
}