ul{
	fixed-width: 600px;
	text-align:center;
	list-style-type: none;
}

body{
	background-color:#E4AB80;
}

p,li{
	font-family:Lucida Console;
}
li::first-letter{
	font-size: 140%;
}


#wrap{
	margin: auto;
	width:50%;
	background-color:#F5F5DD;
	border: 5px dotted black;
}

.copyright{
	font-size: 70%;
	text-align: center;
}

h1{
	border-bottom: 5px dotted black;
	text-align:center;
	font-style:italic;
	font-family:Impact;
	margin-top:0px;
	width:100%;
}

li{
	font-style:italic;
}

a{
	text-decoration:none;
}