#container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid black;
}

#top {
    background-color: #ddd;
    border-bottom: 1px solid gray;
	height:10%;
}

#top h1 {
    margin: 0;
}

#footer {
    margin: 0;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
	height:10%;
}

#leftnav p, #rightnav p {
    margin:0;
}

#content h2 {
    margin:0;
	text-align:left;
}


#leftnav{
	float: left;
	width: 23%; 
	border-right:1px solid gray;
	padding-left:10px;
	height:33.7em;
}

#rightnav{
	float: right;
	border-left:1px solid gray;
	width:23%;
	height:33.7em;
	padding-left:10px;
}
#content{
	display: inline-block;
	width:51%;
	padding-left:10px;
	padding-right:10px;
	min-height:21.2em;
}

#main>div{
	padding-top:5px;
	margin-bottom:200px;
}

img{
	width: 300px;
	margin-bottom:20px;
}

p{
	font-size:20px;
}