body{
	background-color:#546F4C;
	margin:0;
	height:600px;
	font-family:Verdana;
}

#wrap{
	margin-left:290px;
	margin-right:290px;
	height:100%;
}

#header{
	background-color:#B3B67D;
	margin-top:0px;
	padding-top:1px;
	padding-bottom:10px;
	margin-bottom:0px;
}

#header h1{
	text-align:right;
	padding-right:20px;
	font-weight:bold;
}
#nav{
	background-color:#6E9F5D;
	margin-top:0px;
	padding-top:1px;
	padding-bottom:0.1px;
	border-bottom: 4px dashed white;
}

#nav ul li{
	display:inline;
	list-style-type:none;
	padding-right:20px;
	font-size:18px;
}

#nav ul li a{
	text-decoration:none;
}

a{
	color:blue;
}

#sidebar{
	float:right;
	background-color:#B3B67D;
	height:100.17%;
	padding-left:10px;
	padding-right:20px;
}

#content{
	height:100%;
	background-color:#718E6C;
	padding-top:1px;
	padding-left:20px;
	padding-right:20px;
}

#content ul li{
	list-style-type:none;
	text-align:center;
	font-size:25px;
	color:#484848;
	font-family:Arial;
	
}

#footer{
	height:10%;
	margin-top:0px;
	padding-left:25px;
	padding-right:25px;
}

#content p{
	color:#585858;
	font-size:20px;
}

h1{
	color:#484848;
}

h2{
	font-size:16px;
	color:#484848;
}