body {
    background:#75a1ff;
	margin:0;
	padding:0;
}

#content{
	width:40%;
	height:100%;
	background-color:white;
	margin:auto;
	margin-top:0;
	margin-bottom:1.875em;
	display:block;
	border:2px solid grey;
	padding:0;
}

h1,h2,h3,h4{
	text-align:center;
}

#header img{
	width:100%;
	border-bottom:2px solid grey;
}

#main img{
	width:100%;
	margin:auto;
	display:block;
}

h1{
	position:absolute;
	z-index:20;
	top:400px;
	color:white;
	left:10px;
	right:10px;
}

#header h3{
	position:absolute;
	z-index:20;
	top:450px;
	color:white;
	left:10px;
	right:10px;
}

#opening{
	padding-left:1em;
	padding-right:1em;
	border-bottom:1px solid grey;
}

#musicians {
	height:100%;
	width:49.87%;
	margin:auto;
	float:left;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
}

#finearts{
	display:inline-block;
}

#books{
	width:90%;
	height:100%;
	margin:auto;
	display:inline-block;
	margin-left:2em;
	margin-right:2em;
}

#actors{
	width:100%;
	height:100%;
	margin:auto;
	display:inline-block;
	border-bottom:1px solid grey;
}

#borderleft{
	border-left: 1px solid grey;
	padding-left: 10px;
	width:70%;
}

#image{
	padding-right:20px;
	width:30%;
}

#image img{
	border:2px dashed grey;
}

.top{
	border-bottom:2px solid grey;
}

#uno{
	float:left;
	margin-left:9em;
}

#dos{
	float:right;
	margin-right:9em;
}

#hobbies{
	height:100%;
	width:50%;
	margin:auto;
	float:right;
	border-bottom:1px solid grey;
}

#hobbies ul{
	list-style-type: square;
}

#lower td{
	height:100%;
	padding-bottom:0.5em;
	border-bottom:1px solid grey;
}

#bottom td{
	height:100%;
	margin:auto;
}

#main{
	width:100%;
}

dd{
	margin-top:0.5em;
	margin-bottom:1em;
}

dt{
	font-weight:700;
	font-style:italic;
}

#food{
	text-align:center;
	margin:auto;
	margin-bottom:3em;
	border-top:1px solid grey;
}

#food table{
	margin:auto;
	width:80%;
	border-collapse:collapse;
}

#food img{
	width:30%;
}

.odd td, .odd th{
	background:lightgrey;
}

#food td, #food th{
	border:1px solid grey;
}

.foodimg{
	width:80%;
}

#navbar{
	position:fixed;
	width:40%;
	margin:auto;
	background:lightgrey;
	height:3em;
	text-align:center;
	padding:0;
	display:block;
	padding-top:0px;
	margin-top:-0.2em;
	z-index:500;
	border-bottom:1px solid grey;
	border-top:3px solid grey;
}

#navbar ul{
	list-style-type:none;
	width:100%;
	margin:auto;
	text-align:center;
	height:100%;
	padding:0;
	display:table;
}

#navbar ul li{
	display:inline-block;
	width:19%;
	margin:auto;
	text-align:center;
	height:100%;
	vertical-align:middle;
	display:table-cell;
}

#navbar ul li:hover{
	background:grey;
}

#navbar ul li a{
	text-decoration:none;
	text-align:center;
	margin:auto;
	color:black;
	font-weight:800;
}

#footer{
	border-top:1px solid grey;
	width:100%;
	text-align:center;
	font-size:10px;
	height:100%;
	background:lightgrey;
}